<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProfile name="test">
    <root level="${ROOT_LOG_LEVEL:-INFO}">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="!test">
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <root level="${ROOT_LOG_LEVEL:-INFO}">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>
</configuration>
